<!DOCTYPE html>
<html lang="en">

  <%- include('../partial/head.ejs')%>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <%- include('../partial/sidebar.ejs')%>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <%- include('../partial/navbar.ejs')%>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Author</h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <span class="m-0 font-weight-bold text-primary">DataTables
                  Example</span>
                <a href="/frmCreateAuthor"
                  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right"><i
                    class="fas fa-download fa-sm text-white-50"></i> Create</a>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable"
                    width="100%" cellspacing="0">
                    <thead>
                      <tr>

                        <th>Author Name</th>
                        <th width="205px">Action</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% authors.forEach(a => { %>
                      <tr>
                        <td><%= a.name %></td>
                        <td>
                          <a
                            class="btn btn-success"
                            href="/getAuthorById/<%= a.id %>">Edit</a>
                          <a
                            class="btn btn-danger"
                            href="/delete_author/<%= a.id %>">Delete</a>
                        </td>
                      </tr>
                      <% }) %>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../partial/footer.ejs')%>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end
            your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button"
              data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
